<h2>Moderator</h2>
<ol>
{{#questions}}
	<li>
	    <span class="options">
    		<button value="{{id}}">Approve</button>
    		<button value="{{id}}">Reject</button>
    	</span>
		<p>"{{question}}"</p>
	</li>
{{/questions}}
</ol>
