<h2>Moderator</h2>
<ol>
{{#questions}}
	<li>
		{{question}}
		<form>
		    <input type="hidden" name="id" value="{{id}}" />
			<button name="approve">Approve</button>
			<button name="reject">Reject</button>
		</form>
	</li>
{{/questions}}
</ol>
