<div id="question">
    <form>
        <p>
            <textarea name="question" maxlength="256"></textarea>
        </p>
        <p>
            <span class="buttons">
                <button name="submit">Submit</button>
                <button name="cancel">Cancel</button>
            </span>
            <span class="count">256 left</span>
        </p>
    </form>
</div>