<div id="question">
    <form>
        <p>
            <textarea name="question" maxlength="256"></textarea>
        </p>
        <p>
            <span class="buttons">
                <button type="submit" name="submit">Submit</button>
                <button type="reset" name="cancel">Cancel</button>
            </span>
            <span class="count"><strong>{{count}}</strong> left</span>
        </p>
    </form>
</div>