<ol>
{{#questions}}
    <li>
	    <span class="options">
    	    <a href="#{{id}}" class="like">Like</a>
    	    <div><strong>{{votes}}</strong> votes</div>
	    </span>
	    <p>{{question}}</p>
	</li>
{{/questions}}
</ol>

{{>//templates/question.mustache}}